=== Instruction ===
The user query below might require searching multiple datasets.
Your task is to generate a concise list of search queries (5 queries per dataset) that can be used to find relevant datasets.

=== Query ===
{{ user_query }}

=== Task ===
Generate a list of search queries that would help locate the necessary datasets.
